@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

* {
  margin: 0;
  font-family:'IBM Plex Sans', sans-serif;
}
body {
  background-color: unset;
}
html {
  background: url(./images/greg-rosenke-globe.jpg) no-repeat center center fixed;
  background-size: cover;
}

nav {
  background-color: transparent;
  width: 100%;
  color:white;
  background: rgba(28, 18, 18, 0.727);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(6px);
  border: 1px solid rgba(61, 48, 48, 0.3);
}

.nav-links {
  display:flex;
  width: 100%;
  justify-content: space-between;
  font-size: 18px;

}

a {
  text-decoration: none;
}

li a:visited {
  color:white;

}

li a {
  display: inline-block;
  position: relative;
  color:#0087ca;
}

li a:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

li a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

li {
  display: inline-block;
  margin: 15px;
}

/*HOME OVERLAY*/

.overlay-div {
  width: 100%;
  padding: 10px;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  background: rgba(39, 28, 28, 0.727);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

h6 {
  color: white;
  font-size: 18px;
}

/* COUNTRIES LIST */

h3, h4 {
  color:white;
}

form {
  text-align: center;
  margin: 20px;
  padding: 10px;
  border-color: white;
}

input {
  padding: 10px;
  width: 250px;
  border-radius: 5px;
}

.countries-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

/* COUNTRY CARD */

.country-card {
  display: flex;
  flex-direction: column;
  text-align:center;
  min-width:250px;
  position: relative;
  background-color: white;
  margin: 15px;
  align-items: center;
  border-radius: 5px;
  padding: 5px;
  position: relative;
}

.blue-name-card {
  min-width: 250px;
  background-color: rgb(91, 194, 241);
  border-radius: 5px;
  padding: 10px;
  margin: 5px
}

.country-information {
  display:flex;
  flex-direction: row;
}

h5 {
  font-size: 20px;
  margin: 5px;
}

.flag-container {
  position: absolute;
  top: 0;
  left: 0;
}

.flag-container img {
  height: 40px;
  width: 70px;
}

.scroll-button {
  position: fixed; 
  background-color: white;
  width: 80px;
  height: 80px;
  border-radius: 50% ;
  right: 5%;
  bottom: 40px;
  z-index: 1;
  cursor: pointer;
  color: blue;
  border-color: blue;
}


.material-symbols-outlined {
 font-weight: 600;
 font-size: 2.5rem;
}

/*INDIVIDUAL COUNTRY */

.country-info-container{
  background-color: white;
}

.bordering-countries-div {
  background-color: #0087ca;
}

.border-country-link {
  color: white;
}