@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

* {
  margin: 0;
  font-family:'IBM Plex Sans', sans-serif;
}

html {
  background: url(./images/greg-rosenke-globe.jpg) no-repeat center center fixed;
  background-size: cover;
}

nav {
  background-color: transparent;
  width: 100%;
  color:white;
}

.nav-links {
  display:flex;
  width: 100%;
  justify-content: space-between;
  font-size: 18px;

}

a {
  text-decoration: none;
}

a:visited {
  color:white;

}

li {
  display: inline-block;
  margin: 15px;
}

/* COUNTRIES LIST */

form {
  text-align: center;
  margin: 20px;
}

.countries-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

/* COUNTRY CARD */

.country-card {
  display: flex;
  flex-direction: column;
  text-align:center;
  min-width:250px;
  position: relative;
}

.blue-name-card {
  max-width: 150px;
  background-color: aqua;
}