* {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
  background-color: bisque;
}

.nav-links {
  display:flex;
  width:100%;
  position: fixed;
  justify-content: space-between;
  font-size: 24px;

}

a {
  text-decoration: none;
}

li {
  display: inline-block;
}

/* COUNTRIES LIST */

.countries-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

/* COUNTRY CARD */

.country-card {
  display: flex;
  flex-direction: column;
  text-align:center;
  min-width:250px;
  position: relative;
}

.blue-name-card {
  max-width: 150px;
  background-color: aqua;
}